ultralytics==8.2.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
pillow==10.4.0
pydantic==2.6.4
loguru==0.7.2
flask==3.0.0
gunicorn==21.2.0
python-dotenv==1.0.1

numpy==1.26.4
notebook
pandas
matplotlib
opencv-python>=4.6.0

albumentations
ipykernel
tqdm
# pycocotools   # comment when creating Docker Image
cython
from-root
boto3
mypy-boto3-s3
torch-summary
fastapi
Jinja2
PyYAML
dill==0.3.5.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
